body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position:fixed;

  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

summary {
  cursor: pointer;
  font-size:20px;
  margin: 15px 0;

}

details {
  font-size:18px;
}

.gist .markdown-body {
	font-family: Verdana, sans-serif;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  padding-right: 10px;
  padding-top:50px;
  padding-left: 10px;
  background-color: #FAF9F6;
}

a{
color:blue;
}
